*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;

}
.main{
    height: 60px;
    background-color: blue;
  
}
.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: auto;
    align-items: center;
    width: 90%;
    margin: auto;

   
}

.navbar{
   /* height: 50px; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-top: 10px;
   
}
.navbar ul li{
    padding:0px 20px;
    /* border: 1px solid red; */
}
.navbar ul li a{
    color: white;
    font-size: 2rem;
    
}
.check label{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    align-items: center;
}
.check label span{
    background-color: white;
    padding:0.2rem 0.7rem;
   
}
.check{
    display: none;
}
#hamburger{
    display: none;
}
.banner{
    height: 700px;
    width: 100%;
    border: 1px solid white;
    background-image: url("https://www.linkpicture.com/q/weather.png");
    background-size: cover;
}
.banner h1{
    text-align: center;
    margin-top: 200px;
    font-size: 3rem;
}

@media all and (max-width:520px){

    .check{
        display: block;
        margin-top: 20px;
    }
    .navbar{
        display: none;
        position: absolute;
    }
    #hamburger:checked + .navbar{
        display: block;
        top:60px;
        left:0;
        right:0;
        text-align: center;
       font-size: 1.3rem;
        width: 100%;
        margin: auto;
        /* background-color: red; */
    }
    .banner h1{
        width: auto;
    }
    .banner{
        height: 700px;
        width: 100%;
        border: 1px solid red;
        background-image: url("https://www.linkpicture.com/q/22_68.jpg");
        background-size: cover;
    }
}