
*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;

}
.main{
    height: 60px;
    background-color: blue;
  
}
.header{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    height: auto;
    align-items: center;
    width: 90%;
    margin: auto;

   
}

.navbar{
   /* height: 50px; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
    margin-top: 10px;
   
}
.navbar ul li{
    padding:0px 20px;
    /* border: 1px solid red; */
}
.navbar ul li a{
    color: white;
    font-size: 2rem;
    
}
.check label{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    align-items: center;
}
.check label span{
    background-color: white;
    padding:0.2rem 0.7rem;
   
}
.check{
    display: none;
}
#hamburger{
    display: none;
}
.cont{
    height: auto;
    width: 30%;
    /* border:1px solid red; */
    margin: auto;
    margin-top: 30px;
    background-color: lightblue;
    border-radius: 10px;
}
.cont h1{
    text-align: center;
}

form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding:8%;
    
}
form input{
    margin-top: 10px;
    height: 20px;
    padding:15px
}

#reg{
    padding-bottom: 20px;
    background-color: blue;
    cursor: pointer;
    color:white;
    font-size: 15px;
    text-align: center;
}
@media all and (max-width:500px){

    .check{
        display: block;
        margin-top: 20px;
    }
    .navbar{
        display: none;
        position: absolute;
    }
    #hamburger:checked + .navbar{
        display: block;
        top:60px;
        left:0;
        right:200px;
        text-align: center;
       font-size: 1.3rem;
        width: 100%;
        margin: auto;
        background-color: red;
    }
    .cont{
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }

}